body {
    margin: 60px auto;
    width: 85%;
    background-color: #F9FDFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif'
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #0C7DB9;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.4em;
}
p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1em;
    line-height: 1.2em;
    color: #333;
}
ul li {
    font-size: 1.1em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #0C7DB9;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
