<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div>
                <ul class="nav navbar-nav">
                    <li><a class="brand-image" href="/"><img class="brand-image" src="/img/logo.png" width="135" height="50"/></a></li>
                    <li><a href="/lineas">Líneas de investigación</a></li>
                    <li><a href="/proyectos">Proyectos</a></li>
                    <li><a href="/publicaciones">Publicaciones</a></li>
                    <li><a href="/trabajos">Tesis y trabajos finales</a></li>
                    <li><a href="/integrantes">Integrantes</a></li>
                    <li><a href="/novedades">Novedades</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        <footer>
            <ul>
                <li>Facultad de Ingeniería | Universidad de Buenos Aires</li>
            </ul>
        </footer>
    </body>
</html>
